{# Refactored: This template uses only the global base.html and global URL/template policy #}
{% extends 'base.html' %}
{% load custom_filters %}
{% load slugify_extras %}
{% block content %}
<h2>Feedback &amp; Ratings</h2>
<ul>
  {% for rating in ratings %}
    <li>{{ rating.caregiver }} - {{ rating.stars }} stars<br/>{{ rating.review_text }}
    <a class="btn btn-outline-info" href="{% url 'feedback:feedback_detail' rating.id|slugify_dir %}">View</a>
</li>
  {% endfor %}
</ul>
<script src="{% static 'js/feedback/feedback_list.js' %}"></script>
{% endblock %}
