{% extends "base.html" %}
{% load custom_filters %}
{% load slugify_extras %}
{% load slugify_extras %}
{% block content %}
<h2>Moderate Feedback</h2>
<script src="{% static 'js/feedback/moderate_feedback.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/feedback_moderate.css' %}">
<ul>
  {% for rating in ratings %}
    <li>{{ rating.caregiver|slugify_dir }} - {{ rating.stars }} stars<br>{{ rating.review_text }}
      <form method="post" style="display:inline;">{% csrf_token %}
        <input type="hidden" name="rating_id" value="{{ rating.id|slugify_dir }}">
        <button name="action" value="hide">Hide</button>
        <input name="response" placeholder="Response...">
        <button name="action" value="respond">Respond</button>
      </form>
    </li>
  {% endfor %}
</ul>
{% endblock %}
