{% extends 'base.html' %}
{% block content %}
<div class="container py-4">
<h2>Start a New Topic</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
<label class="form-label" for="id_category">Category</label>
<select class="form-select" id="id_category" name="category" required="">
<option value="">-- Select Category --</option>
        {% for category in categories %}
          <option %}="" %}selected{%="" and="" endif="" if="" topic="" topic.category="" topic.category.id="category.id" value="{{ category.id }}" {%="">{{ category.name }}</option>
        {% endfor %}
      </select>
</div>
<div class="mb-3">
<label class="form-label" for="id_title">Title</label>
<input class="form-control" id="id_title" name="title" required="" type="text" value="{% if topic %}{{ topic.title }}{% endif %}"/>
</div>
<div class="mb-3">
<label class="form-label" for="id_body">Message</label>
<textarea class="form-control" id="id_body" name="body" required="" rows="5">{% if topic %}{{ topic.body }}{% endif %}</textarea>
</div>
<button class="btn btn-primary" type="submit">{% if edit_mode %}Save Changes{% else %}Post Topic{% endif %}</button>
<a class="btn btn-link" href="{% url 'forum:topic_list' %}">Cancel</a>
</form>
</div>
{% endblock %}
